/*header elements*/ 
a{ 
	text-decoration: none;
 	background-color: transparent;
 	
 }

nav#header{ 
		background: rgb(0,0,0);
		color:#000; 
		border-color: #080808; 
		min-height: 50px;
		border: 1px solid transparent;
}
nav.navbar-dark.scrolled{
background:rgba(0,0,0,0.7);
}

.innerHeader{
	width:80%; 
	margin:auto;
}

#logo{
	color:#ededed;
	float: left;
	 height: 50px;
	  font-size: 30px;
	  font-family: 'Pacifico';
}

.nav-link{
	font-family: 'Economica', sans-serif;
	 font-size: 20px;
	 padding:15px 15px;
	  height: 30px; 
	  color:#ededed;
}


a.dropdown-item{

	color:rgb(255,255,255);
}
a.dropdown-item:hover{
	color:#ddd;
	background: rgba(0,0,0,0);
}
#drop{
	font-family: 'Economica', sans-serif;
	 font-size: 20px;
	 padding:15px 15px; 
	  color:#ededed; 
}
#drop1{
	font-family: 'Economica', sans-serif;
	 font-size: 20px;
	 padding:15px 15px; 
	  color:#ededed; 
}

/*form*/
.container-x{
	font-family: 'Josefin Sans', sans-serif;
	width:90%; 
	margin:100px auto auto auto; 
	overflow: hidden;
}



/*footer*/

